#createtHomeBtn {
    width: 10rem;
    display: block;
    margin: 0 auto;
}

#searchtHomeBtn {
    width: 10rem;
    display: block;
    margin: 2rem auto;
}

.form {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 37vh;
    margin-bottom: 15px;
}

.row {
    margin: 0%;
}

.col-sm-10 {
    padding: 0;
}

.custom-line {
    border: none;
    border-top: 2px solid #0a0707; /* Adjust the color and thickness as needed */
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: normal !important;
    padding: 0rem;
}

.buttons button {
    margin: 0.5rem 0.5rem;
}



.col-form-label {
    display: block;
    margin: 0;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 0%;
    margin-left: 0%;
    padding: 0%;
}

.form-control {
    height: 40px;
    width: 90%;
    outline: none;
    font-size: 16px;
    margin-top: 0.5rem;
}

.p-5 {
    padding: 1rem !important;
    width: 100%;
}

.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
    max-width: 48rem;
}

.required {
    color: red;
}

.formDiv {
    max-width: 48rem;
    margin: 0 auto;
}

.card {
    margin: 0 auto;
}

@media (max-width: 768px) {
    .formDiv {
        max-width: 90%;
    }

    .form-control {
        max-width: 100%;
        margin-right: 0;
    }
}
