body{
    background-color: #508bfc;
}

.p-5 {
    padding: 2rem !important;
}

.py-5 {
    padding-top: 6rem!important;
    padding-bottom: 3rem!important;
}

#LoginBtn{
 width:46%;
 height: 60px;
 margin-right: 14px;
}

#ClearBtn{
    width:45%;
    height: 60px;
    margin-left: 10px;
}

#EmailTxt,
#PasswordTxt {
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;

}

.pText {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

#hText {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}