.p-5 {
    padding: 2rem!important;
    height: 80vh;
}

#LoginBtn, #EmailTxt, #PasswordTxt{
    width:100%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;

}

.pText{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

#hText{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
