body{
    background: linear-gradient(135deg, #d476eb, #5c5ab6);
}

.p-5 {
    padding: 2rem !important;
}

.py-5 {
    padding-top: 6rem!important;
    padding-bottom: 3rem!important;
}

#LoginBtn{
 width:46%;
 height: 55px;
 margin-right: 14px;
}

#ClearBtn{
    width:45%;
    height: 55px;
    margin-left: 10px;
}

.pText {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

#hText {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}